<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   TTThemeDefaultTag.plist
   ljwcodeHeadLineNews

   Created by 1 on 2020/10/27.
   Copyright (c) 2020 ljwcode. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
